<?xml version="1.0" ?>
<ns1:model xmlns:ns1="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
	<ns1:name>ForearmRehabActive</ns1:name>
	<ns1:version>1.0</ns1:version>
	<ns1:thumbnail>thumbnail.png</ns1:thumbnail>
	<ns1:sdf version="1.6">model.sdf</ns1:sdf>
	<ns1:author>
		<ns1:name></ns1:name>
		<ns1:email></ns1:email>
	</ns1:author>
	<ns1:description></ns1:description>
</ns1:model>
